body{
    transition: all 0.2s ease-in-out 0s;
}
p{
    text-align: center;
    margin: 50px;
    font-size: 100px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}
input{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 250px;
    left: 550px;
    width: 1100px;
    padding: 20px 30px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out 0s;
}
input:hover{
    scale: 1.07;
    box-shadow: 3px 3px 3px rgb(185, 97, 185);
}
body:has(input:hover){
    background-color: rgba(244, 11, 244, 0.332);
}
input:hover~button{
    left: 1770px;
}
button{
    font-size: 50px;
    padding: 10px 30px;
    position: absolute;
    top: 255px;
    left: 1720px;
    border-radius: 7px;
    background-color: rgb(166, 81, 245);
    transition: all 0.2s ease-in-out 0s;
}
button:hover{
    scale: 1.2;
    left: 1750px;
    box-shadow: 2px 2px 5px rgb(132, 9, 247);
}
body:has(button:hover){
    background-color: rgba(193, 20, 193, 0.542);
}
#para{
    position: absolute;
    top: 350px;
}
ul{
    font-size: 50px;
    font-family:serif;
    position: absolute;
    top: 350px;
    margin-left: 50px;
}